| One of my goals for my websites, including this one, is to look presentable both in print and on a handheld. Well, I found out today that this blog doesn't look so hot in either mode. I also found out that my tool for rounding corners (a 
a(href='http://www.jquery.com/') jQuery
|  
a(href='http://methvin.com/jquery/jq-corner.html') plugin
| ) runs even when in print mode. So I've got to change my site to use 
abbr.initialism(title='Cascading Style Sheets') CSS
|  so the rounded corners don't show up in print mode. (If you hover over "
abbr.initialism(title='Cascading Style Sheets') CSS
| " you'll see that I'm using the abbr tag. For a good article of abbr vs. acronym, read 
a(href='http://www.benmeadowcroft.com/webdev/articles/abbr-vs-acronym.shtml') this
| .)

