| I had a tough day at work. I spent sooooo long trying to find out why Jibx wouldn't bind my files. Had to do with the classpath. I used a wildcard and evidently got a jar that didn't play nice. I still don't know which jar it is, but I backed out my wildcard so it's working now. Now, I have to figure out how to get 
a(href='http://www.springsource.com/') Spring
|  and Oracle Portal to play nice... Ugh. I'm not a 
a(href='http://www.springsource.com/') Spring
|  guy.

