doctype html
html.no-js(lang="en")
  head 
    title "Children's rules"
  style(type="text/scss").
    body {
      padding: 1em;
    }
    h1 {
      margin-bottom: .1em;
    }
    .updated-at {
      margin-bottom: .5em;
      font-size: .9em;
    }
    .rule {
    }
  body
    h1 Children's rules
    .updated-at updated 9/2/2021
    .rule 
      strike Join family Life 360 and 
      | leave notifications on at all times 

    .rule: p.
      Mom or Dad can DENY having people over at ANY time. Do not expect friends to come over on school nights but allowances can be made in certain situations.

    .rule: p.
      Bedtime means in your room trying to sleep. Some leeway is given for devices (TV, Echo Dot) that help you sleep. No watching/listening adrenaline inducing TV shows, movies, metal music (unless that's soothing to you according to your mother), etc.

    .rule: p.
      We don’t have huge or unreasonable expectations for you, please respect us and the expectations we lay out.  If you show us respect, we will respect you, and with earned respect comes privileges. 

    .rule: p.
      Any commitments are just that. They are not to be broken.  We expect any commitment made to be a priority and to be completed to the best of your ability. 
    
    .rule.unratified: p.
      We expect texts to be answered within 30 minutes unless safety would be compromised.

    .rule.unratified: p.
      Phone calls should be answered always.

    h2 Joel's rules:
    .times
      .weekdays
        .title Sunday - Thursday:
        .rule Off computer at 21:00, bedtime 22:00 (aka 9pm and 10pm)
      .weekends
        .title Friday &amp; Saturday:
        .rule Off computer at 22:00, bedtime 23:00 (aka 10pm and 11pm)

    .rule
      p Set a robotics schedule and stick to it. A predictable schedule for carpooling, team, and Mr. W - it’s not just the “Joel robotics show”. 

    h3 Provisional rules:
    .rule
      ul If there are any missing assignments (there are any marked missing in portal):
        li No phone usage at home (no YouTube in the mornings, baths, etc)
        li No computer if there are any missing assignments
        li No TV until you have emailed the teacher and shown proof the assignment has been turned in

    .rule
      On September 15th at 20:00, if you still have any missing assignments as shown in portal, all the previous rules apply plus phone privileges will be restricted at school to phone and text usage to a set of contacts picked by Mom and Dad.

  h2 Alyssa's rules:
  .times
    .weekdays
      .title Sunday - Thursday:
      .rule All devices, iPhone/s, iPad/s, computer/s turned into our room at 22:00, bedtime 23:00 (aka 10pm and 11pm)

    .weekends
      .title Friday &amp; Saturday:
      .rule All devices, iPhone/s, iPad/s, computer/s turned into our room at 23:00, bedtime 24:00 (aka 11pm and midnight) 

  .rule: p.
    You have 2 parents, Dad and Mom are a team.  When asking permission to do something or have someone over, please text both of us. 

  h3 Provisional Rules:
  .rule  No purchases until September 16 at 00:00

  .rule
    | No hanging out with friends except on these occasions:
    ul
      li At our house at Mom and Dad's discretion
      li School activities sanctioned by North High and OPS
    | This rule will be null and void September 9 at 00:00

  h2 Monthly chores for September:
  div Joel - 
    ul
      li feed and water cocoa Monday thru Friday before school. 
      li water plants 

  div Alyssa -
    ul
      li collect trash, replace liner bags, take out recycling and take all cans to the curb Sunday night.  Pull cans to the side of the house on Monday 
      li empty recycling as needed during the week 
      li vacuum stairs Saturday or Sunday 
