| I found this to work pretty well as a command prompt shortcut. You can copy the file to any directory and it will open the command prompt in that directory while also running a script to set the environment. Target: %COMSPEC% /K [script name] Start in: %CD%

