- var title = 'Art'
mixin project(title, status)
  .project
    .project-wrapper
      h3= title
      .project-body
        if block
          block
        else
          p No description yet
        .status-wrapper Status: 
          span.status #{status}

block variables
doctype html
html.no-js(lang="en")

  head
    include ../templates/head
    style.
      img {
        max-width: 700px;
      }
  body
    include ../templates/pageheader

    .container
      h1 #{title}

      p Things I'm considering having here are:
      ul
        li Music
        li Audio and video editing
        li CAD
        li
          abbr(title="Human-computer interaction") HCI
        li 
          abbr(title="Marble Machine X") MMX

      h2 Designs of mine
      +project('Team Elijah', 'Completed')
        img(src="../img/design3_80.png")

      +project('Moral Quote', 'Completed')
        img(src="../img/quote.png")

      +project('Sonshine Preschool', 'Completed')
        img(src="../img/sonshine.png")

    include ../templates/footer

    block body_scripts