| This will alert "10":

code var num = num || 10; alert(num);
| 
But so will this:

code num = 0; var num = num || 10; alert(num);
| 
Watch out for the cases where 
code num
|  is "
a(href='http://www.adamkoch.com/2010/01/23/falsy-javascript/') falsey
| ".

