| In IE this looks like 5 small dots, but in FF, it looks cool! <hr style="height:50px; border-bottom: 10px red dotted; color: transparent;" width="100" noshade="noshade" />

hr(style='height:50px; border-bottom: 10px red dotted; color: transparent;' width='100' noshade)
