- var title = 'Tech I Dig'

script(type="application/ld+json").
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Tech"
    }]
  }

.container
  h1 #{title}
  
  ul
    li 
      a#code-samples-link(routerLink="code") Code samples

  p As I'm thinking of what I want to put on this page, the list is growing...

  ul
    li 
      a(href="https://pugjs.org/") Pug
      a(href="https://pugjs.org/") 
        fa-icon("[icon]"="externalLinkAlt" data-external title="external link")
    li 
      a(href="https://v2.parceljs.org/") Parcel
      a(href="https://v2.parceljs.org/") 
        fa-icon("[icon]"="externalLinkAlt" data-external title="external link")
    li 
      a(href="https://www.moddable.com/moddable-two.php") Moddable
      a(href="https://www.moddable.com/moddable-two.php") 
        fa-icon("[icon]"="externalLinkAlt" data-external title="external link")
    li 
      a(href="https://openmv.io/") OpenMV
      a(href="https://openmv.io/")
        fa-icon("[icon]"="externalLinkAlt" data-external title="external link")
    li  Node/NPM
    li  Vue
    li  vi
    li 
      a(routerLink="code/jq") jq 
    li  zsh
    li 
      a(href="https://github.com/kfix/ddcctl" title="ddcctl project on GitHub") ddcctl
      a(href="https://github.com/kfix/ddcctl" title="ddcctl project on GitHub")
        fa-icon("[icon]"="externalLinkAlt" data-external title="external link")
    li  scripts
    li  AWS
    li  neo4j
    li  Kotlin
    li  Homebrew
    li  oh-my-zsh
    li  Flashforge Finder 3D printer
    li
      a(href="https://www.lipsum.com/" title="Lorem Ipsum generator") Lorem Ipsum generator
      a(href="https://www.lipsum.com/" title="Lorem Ipsum generator")
        fa-icon("[icon]"="externalLinkAlt" data-external title="external link")
    li  ...

  block body_scripts

app-footer