<div class="card" (click)="goto(card.url)" (mouseenter)="onHover()" (mouseleave)="doMouseLeave()">

  <div class="new-corner" *ngIf="first && showNew()">New!</div>

  <div class="icon-container">
    <fa-icon class="card-img-top" [icon]="['fas', card.icon]" [@iconFlipState]="iconFlipState"></fa-icon>
  </div>

  <div class="card-body">
    <h3 class="card-title">{{ card.title }}</h3>
    <p class="card-text">{{ card.description }}</p>
  </div>

  <div class="card-footer stacked">
    <div>
    <div class="btn-group" *ngIf="first">
      <a [routerLink]="card.buttons[0].url" [title]="card.buttons[0].title" class="btn btn-primary">{{ card.buttons[0].label }}</a>
      <a [routerLink]="card.buttons[1].url" class="btn btn-primary" title="All Posts">All</a>
    </div>
  </div>
  <div>
      <a [routerLink]="card.url" [title]="card.title" class="btn btn-primary" *ngIf="!first">{{ card.buttons[0].label }}</a>
    <div class="card-footer-text" *ngIf="card.tagline"><small>{{card.tagline}}</small></div>
  </div>
  </div>

</div>