// @import url('../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import '../shared/colors.scss';

small {
  color: $dark;
}

.stacked {
  display: grid;
}

.stacked>* {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

:host {

  min-width: 16rem;

  box-shadow: 12px 12px 2px 1px rgba(67, 70, 74, .5);
  border: 1px solid rgba(0, 0, 0, .175);
  border-top: 0;
  border-radius: 10px;
  overflow: hidden;
  container-type: inline-size;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content;

  background-color: $white;

  h3 {
    font-size: 1.5rem;
  }

  .card-footer {

    >*>.btn,
    >*>.btn-group {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }

    >.btn-group>.btn:nth-child(1) {
      border-right: 2px solid #43464A66;
    }
  }

  .new-corner {
    position: absolute;
    top: 0;
    left: 0;
    padding: .4em 3em;

    transform: rotateZ(-45deg) translateX(-2.2em) translateY(-1.5em);
    background-color: #e7e556d8;
  }

  .card-body {
    padding: 20px 30px 30px;
  }


  @container (max-width: 19em) {
    .card-footer-text {
      display: none;
    }
  }

  .card-footer-text:last-child {
    border-radius: 0 0 10px 10px;
  }

  .card-footer-text {
    padding: 8px 16px;
    // color: gray;
    background-color: rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, .175);
    color: #43464a;
  }


  .icon-container {
    border: $primary solid 2px;
    border-radius: 100px;
    margin: 20px auto;
    padding: 30px;
    width: 200px;
    aspect-ratio: 1.5 / 1;
  }

  fa-icon {
    color: $primary;
    background-color: $white;
    font-size: 3em;
    display: inherit;
    margin: 0 auto;
    width: fit-content;
  }

  &:hover {
    cursor: pointer;
  }
}