block variables
doctype html
html.no-js(lang="en")

  head
    include head

    block head

    style(type="text/scss").
      $primary: #406275;
      div.date {
        margin-bottom: 10px;
      }
      a {
        cursor: pointer;
      }
      code {
        white-space: pre;
      }

      .linkies {
        &:hover {
          .fa-angle-double-right {
            animation: moveright .5s infinite;
          }
          .fa-angle-double-left {
            animation: moveleft .5s infinite;
          }
        }
      }

      @keyframes moveright {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(10px);
        }
      }

      @keyframes moveleft {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-10px);
        }
      }

    link(rel="stylesheet" href="../styles.scss")
    link(rel="stylesheet" href="../animation_styles.scss")

  body
    include pageheader

    .container
      h1 #{title}
      block body
          
    include footer

    block body_scripts
