| This would be simple address book that displays the relationships between people. For example, if viewing myself, I would see "boss" as "Tom". Then I could click on Tom and be taken to his information. I would see "Adam" as an "employee".

