@import '../shared/colors.scss';

:active {
  filter: invert(white, 50%)
}

// body {
//   container-type: inline-size;
// }

.page-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.page-flex>* {
  flex: 1;
}

.adamis {
  width: 50%;
  margin-right: 50em;
}

// #adamexcerpt {
//   max-width: 90vw;
//   min-width: 70vw;
//   margin: 0 auto;

//   padding: 2rem 2rem 0;
//   order: 2;

//   p {
//     text-align: center;
//   }
// }

#main {
  padding-top: 24px;
  width: 100%;
  order: 1;
}


@media screen and (max-width: 767px) {

  .page-header {
    svg {
      max-width: 90cqw;
      translate: 0 5%;
    }
  }

  #main {
    order: 2;
  }

  .cards-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #moreresources {
    min-width: unset;
  }
}

.mini-cards-container {
  max-width: 80%;
  display: flex;
  gap: 1vh;
  flex-flow: row wrap;
  margin: 0 auto;
  order: 5;
}

.mini-card-container {
  flex: 1;
  min-width: 18rem;
}

#moreresources {
  margin: 1em 3em;
  text-align: center;
  min-width: 96%;
  order: 3;
}