| As I was creating 
a(href='http://www.myrantsite.com/2008/09/08/vacuum/') the vacuum post
|  last night, I was a little irritated by my 
a(href='http://wordpress.org/') WordPress
|  
a(href='http://wordpress.org/extend/themes/blue-mist') template
|  because it has a fixed width of 800 pixels wide. So I was thinking of making it 1024 pixels wide and wanted to make sure my readers (all 3 of you) didn't use a resolution lower than that. And sure enough, no one is using a screen resolution of 800 pixels wide! Yea! Now I can change the template. Only problem is, now I have to change the template. (Read: more "work".)

