<div class="card" (click)="goto(card.link, card.isExternal)">
  <div class="card-body">
      <div class="link">
        <a (click)="goto(card.link, card.isExternal)" [title]="card.isExternal ? 'Be careful out there' : ''">
          <i class="fas fa-angle-double-right" *ngIf="!card.isExternal"></i>
          <fa-icon [icon]="angleDoubleRight" *ngIf="!card.isExternal"></fa-icon>
          <fa-icon [icon]="externalLinkAlt" *ngIf="card.isExternal" data-external></fa-icon>
        </a>
      </div>
    <h4 class="cardTitle"><fa-icon class="card-img-top" [icon]="card.icon"></fa-icon>{{ card.title }}</h4>
    <p class="card-text">{{ card.description }}</p>
  </div>
</div>
