<div class="card" role="button" tabindex="0" (click)="goto(card.link, card.isExternal)">
  <div class="card-body">
      <div class="link">
        <a *ngIf="!card.isExternal" routerLink="{{ card.link }}" tabindex="-1">
          <fa-icon [icon]="angleDoubleRight"></fa-icon>
        </a>
        <a *ngIf="card.isExternal" href="{{ card.link }}" ignoreDirective tabindex="-1">
          <fa-icon [icon]="externalLinkAlt" data-external></fa-icon>
        </a>
      </div>
      <h3 class="cardTitle">
        <fa-icon class="card-img-top" [icon]="card.icon"></fa-icon>
        <a *ngIf="!card.isExternal" routerLink="{{ card.link }}" tabindex="-1">{{ card.title }}</a>
        <a *ngIf="card.isExternal" href="{{ card.link }}" ignoreDirective tabindex="-1">{{ card.title }}</a>
      </h3>
    <p class="card-text">{{ card.description }}</p>
  </div>
</div>
