@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../shared/colors.scss';

:host {
  background-clip: border-box;
  background-color: #f5f7f8;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  // flex: 1;
  
  // flex-direction: column;
  min-width: 20rem;
  position: relative;
  word-wrap: break-word;

  .card-body {

    &:hover {
      a i.fas {
        transform: translateX(4px);
        transition: .2s ease-in-out all;
      }
  .cardTitle {
    // transform: rotateX(-180deg)  rotateY(-180deg)  rotateZ(-180deg);
    // transition: .2s ease-in-out all;
  }
    }

    .cardTitle {
      // perspective: 100px;
    // transition: .2s ease-in-out all;
    }

    .link {
      float:right;
    }
  }
  &:hover {
    cursor: pointer;
    border-color: $primary;
    transition: .2s ease-in-out all;
  }
  .fas, .fab {
    width: 1.5em;
  }

  a i.fas, a i.fab {
    font-size: 2em;
    transition: .2s ease-in-out all;
  }

  .card {
    display: flex;

  }

}
