| I used to be all for standards compliance and added links like 
a(href='http://validator.w3.org/check?uri=referer') this
|  to my site, but then you come back a month later and your site is no longer valid. So I stopped doing it. So this amused me: 
a(title='Plogger homepage' href='http://www.plogger.org/') Plogger
|  states on the bottom of their home page "Plogger produces 
a(href='http://validator.w3.org/check?uri=referer') fully validated
|  XHTML 1.1 code", but it's 
a(href='http://validator.w3.org/check?uri=http%3A%2F%2Fwww.plogger.org%2F') not
| . 
img(src='http://dogtired.org/images/smilies/lol14.gif' alt='laughing smilie' width='15' height='15')
|  Not a good way to promote your product! Hmm... I wonder if there's a site that lists sites like this, just to make fun of them.

