| I'm feeling very energized after tonight's Toastmasters officer training. Props to LuAnn Anglo and Sheri Wells-Chesley for putting on a good show. There were 4 officers, including myself, from my club in attendance. Our club is called the Railtalkers or Rail Talkers. I'm still not sure if it is one word or two. We meet every week at the Union Pacific Center in room 1001 from 12-1. I invite all of my co-workers to check us out! http://j.mp/railtalkers (internal link) Link to our district's site: 
a(href='http://www.d24tm.org/index.html') District 24 Toastmasters
