| Unicode character 2026 - "Horizontal Ellipsis" In Windows: Alt-0133 In Java: \u2026 Example:

code String ellipsis = "\u2026";
| 
In HTML: &#8230; or &#133; or &hellip; Example: … or … or … In Javascript: \u2026 Example:

code var ellipsis = "\u2026"; alert(ellipsis);
| 
Ricola log: \u2026 Example:

code Ricola.log.debug("\u2026")
| 
will output 
code 11:31:08 DEBUG - …
| 
Ricola showPleaseWait: any of the HTML entities: &#8230; or &#133; or &hellip; Example:

code Ricola.page.showPleaseWait("Creating train documents&hellip;");
