- var title = 'Software Developer and Clean Code Advocate'
block variables
doctype html
html.no-js(lang="en")

  head
    include ../templates/head
  body
    include ../templates/header

    h1 Oooo... sorry
    p This page isn't here yet. Come back in a week    

    include ../templates/footer

    block body_scripts
