- var title = 'Swamp Fan'
script(type="application/ld+json").
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Projects",
      "item": "../"
    },{
      "@type": "ListItem",
      "position": 2,
      "name": "Swamp Fan"
    }]
  }

.container
  h1 #{title}
  
  p Sorry, I haven't gotten around to writing this up yet. But here are some 
    s pretty
    |  pictures!

  #app
    img(ngSrc="assets/swamp_fan_1_0.1.jpg" width="960" height="1280" alt="Swamp fan")
    img(ngSrc="assets/swamp_fan_1_0.2.jpg" width="960" height="1280" alt="Swamp fan")
    img(ngSrc="assets/swamp_fan_1_0.3.jpg" width="1280" height="960" alt="Swamp fan")

  a(routerLink="../" title="Projects")
    i.fas.fa-angle-double-left
    |  Back to current projects