- var title = 'Contact Me'
doctype html
html(lang="en")

  head
    include ../templates/head

  body
    #landing-header
      include ../img/header_name.svg
    
    .container
      #comment-form

    include ../footer
    
    script(src="./commentForm.js" type="module")