// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/variables';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/mixins';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/core';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/larger';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/fixed-width';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/list';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/bordered-pulled';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/animated';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/rotated-flipped';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/stacked';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/icons';
// @import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/screen-reader';

// @import url('../../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
// @import url('../../../../../node_modules/highlight.js/styles/github.css');


@import "./functions";
@import '../../../shared/colors.scss';

@import "./variables";
@import "./mixins";
@import "./_variables-dark.scss";
@import "./_maps.scss";
// @import "./_alert.scss";
@import "./_button-group.scss";
@import "./_buttons.scss";
@import "./_card.scss";
@import "./_containers.scss";
// @import "./_forms.scss";
// @import "./_grid.scss";
@import "./_reboot.scss";
@import "./_root.scss";


// :host {

//   border: 1px solid rgba(0, 0, 0, .175);
//   border-radius: 10px;
// }

div.date {
  margin-bottom: 10px;
}
a {
  cursor: pointer;
}
code {
  white-space: pre;
}

.linkies {
  display: contents;
    &:hover {
    .fas {
      animation: moveright2 .5s infinite;
    }
  }
}

@keyframes moveright2 {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(10px);
  }
}

.mt-2 {
  margin-top: .5rem;
}

.output {
  background-color: $dark;
  color: lightcyan;
  padding: 1em;
}

// .card {
//   padding: 2px;
// }


// .card-body {
//   padding: 20px 30px 30px;
// }