| I started reading this presentation, 
a(href='http://http%3A%2F%2Fwww.slideshare.net%2Fprogrium%2Fweb-hooks-and-the-programmable-world-of-tomorrow-presentation') Web Hooks and the Programmable World of Tomorrow
| , but didn't finish. Thought I'd post it here so I know where to find it.

