| "... if you try to return anything [from a constructor] that is 
em not an object
|  [emphasis mine], the constructor will proceed with its usual behavior and return this." From 
a(href='http://www.packtpub.com/object-oriented-javascript-applications-libraries/book') Object-Oriented JavaScript by Stoyan Stefanov
