a(href='http://w3csites.com/') This site
|  lists other sites that are compliant. But the second page I visited on 
a(href='http://www.templatesfactory.net/') one of the "Editor's Choice" sites
|  
a(href='http://validator.w3.org/check?uri=http%3A%2F%2Fwww.templatesfactory.net%2Ftemplates%2F85%2Fweb-20-templates%2F') didn't validate
| . The listing site 
a(href='http://validator.w3.org/check?uri=http%3A%2F%2Fw3csites.com%2Facknowledgment.asp') didn't even pass the XHTML test
|  on 
a(href='http://w3csites.com/acknowledgment.asp') this page
| . That's why I think pretending to be standards compliant a joke. Although I give credit to 
a(href='http://meiert.com/en/') Jens Meiert
|  because all the pages I tested passed.

