| I have an idea for an online list making app. The list can be sorted on any number of attributes (or "sorts"). Attributes can be added at any time and once "activated" you can drag and drop your list to the order you want for that attribute. Then, if you go to another attribute, it again can be drag and dropped into order, but the order is remembered. So if you go back to the first attribute, the items are resorted based on that attribute.

// more
| 
Let's be materialistic and say I have a list of things I want.

ul
  li Car
  li TV
  li Blu-ray player
  li iPad
| 
Each of these have a different order based on different attributes. For example, if I sorted by the order of price, I might have

ul
  li Blu-ray player
  li iPad
  li TV
  li Car
| 
I also might want to sort how soon I want an item. (I would need a TV before a Blu-ray player.)

ul
  li TV
  li Blu-ray player
  li Car
  li iPad
| 
Here's a my mockup: [caption id="attachment_2475" align="alignnone" width="640" caption="Mockup by Balsamiq"]
a(href='http://www.adamkoch.com/wp-content/uploads/2012/08/balsamiq21.png')
  img.size-large.wp-image-2475(title='Mockup3' src='http://www.adamkoch.com/wp-content/uploads/2012/08/balsamiq21-1024x360.png' alt width='640' height='225')
| [/caption]

.mceTemp Anyone know of such an app?
| 
Thoughts?

