| I recently read the article 
a(href='http://blog.assembla.com/assemblablog/tabid/12618/bid/13707/Tech-Lead-Checklist-to-Kick-your-Team-into-Gear.aspx') Tech Lead Checklist to Kick your Team into Gear
| , recommended by my tech lead. Here are some things our team does and does not do.

h2 Daily
table
  tbody
    tr
      td Require written standup reports each day
      td Nope. We don’t do this. Once every other week I might write something up but it contains more than what I did that day. And other times when someone (one person in particular) can’t attend our scrum they will send an email.
    tr
      td Attend a daily chat
      td Yup. That’s our daily scrum.
    tr
      td Resolve roadblocks
      td Yes, I do this.
    tr
      td Look at individual detailed activity
      td
        | Really? I peruse 
        a(href='http://www.atlassian.com/software/fisheye/overview') Fisheye
        |  occasionally, but I don’t think I do any “detailed” investigation.
    tr
      td Move requests to ticket system
      td Yea, I usually put in “issues” which can be turned into backlogs during sprint planning.
    tr
      td Let team members select their own tasks.
      td We try to let our developers do that. But some ask what they should work on and I do assign tasks.
    tr
      td Watch for lack of commits and ask developers to break into smaller tasks
      td
        | I believe in atomic check ins. However, without a “quiet period” the continuous server will keep rebuilding. Plus it makes it harder to say “this commit was for feature X” when really there were 10 such commits. I’ve often wondered about using Git locally to make these atomic commits and then checking them to 
        span.caps SVN.
h2 Weekly
table
  tbody
    tr
      td Review tickets
      td I usually review ones that are specific to the project I’m most working on more frequently than weekly.
    tr
      td Ask specific developers to plan large tasks
      td Done by me.
    tr
      td Post team tasks completed and what is planned for the next week
      td I can’t say we do this.
h2 Bi-Weekly
table
  tbody
    tr
      td Find developers interested in new projects
      td We often are asked what sounds interesting to us and we try to pass that on when talking about features of a project.
    tr
      td Do “onboarding”
      td Our tech lead did a great job with this a year ago when I joined his team. I’ve tried to create Eclipse templates that others can use. We would need to work on this more if we were expecting any developer to join the team.
    tr
      td Evaluate trial developers
      td We don’t have any trial developers but we look at our current developers and assess them. If we don’t think they are working out, we are willing to try other developers.
| 
So what does this mean? It means I'm already doing a lot that a tech lead should be doing, so I'd be totally comfortable taking that position. (Hint, hint, wink, wink, nudge, nudge.)

