:host {
  display: grid;
  gap: 1vh;
  justify-content: center;
  align-content: center;
  order: 5;

  --min-width: 300px;

  :nth-child(3n + 1) {
    grid-column-start: 2;
  }

  grid-template-columns: auto repeat(3, 1fr) auto;
  max-width: calc(var(--min-width) * 4);

  >* {
    max-width: min(calc(var(--min-width) * 2), 100%);
    min-width: var(--min-width);
  }

  margin: 0 auto;

  @media(max-width: 970px) {

    grid-template-columns: repeat(2, 1fr);

    :nth-child(2n + 1) {
      grid-column-start: 1;
    }

  }

  @media(max-width: 632px) {

    grid-template-columns: repeat(1, 1fr);

    :nth-child(n) {
      grid-column-start: 1;
    }

    >* {
      max-width: unset;
    }
    --min-width: 100px;
  }
}