- var title = 'Tech I Dig'
mixin project(title, status)
  .project
    .project-wrapper
      h2= title
      .project-body
        if block
          block
        else
          p No description yet
        .status-wrapper Status: 
          span.status #{status}

block variables
doctype html
html.no-js(lang="en")

  head
    include ../templates/head
    style(type="text/scss").
      li {
        list-style-image: url(../img/dot.8.svg);
      }
      a[href^="http"]::after {
        content: "\f35d";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-left: 5px 
      }
  
  body
    include ../templates/pageheader

    .container
      h1 #{title}
      
      ul
        li 
          a#code-samples-link(href="code/") Code samples

      p As I'm thinking of what I want to put on this page, the list is growing...

      ul
        li 
          a(href="https://pugjs.org/") Pug
        li 
          a(href="https://v2.parceljs.org/") Parcel
        li 
          a(href="https://www.moddable.com/moddable-two.php") Moddable
        li 
          a(href="https://openmv.io/") OpenMV
        li  Node/NPM
        li  Vue
        li  vi
        li 
          a(href="jq") jq 
        li  zsh
        li 
          a(href="https://github.com/kfix/ddcctl" title="ddcctl project on GitHub") ddcctl
        li  scripts
        li  AWS
        li  neo4j
        li  Kotlin
        li  Homebrew
        li  oh-my-zsh
        li  Flashforge Finder 3D printer
        li
          a(href="https://www.lipsum.com/" title="Lorem Ipsum generator") Lorem Ipsum generator
        li  ...

    include ../templates/footer

    block body_scripts