@import "../../shared/colors.scss";

:host {
  display: flex;
  justify-content: center;

  $primary: #406275;
  background-color: $primary;
}

svg {
  max-width: 600px;
  flex: 1;
  translate: 0 19%;
  fill: $white;
  stroke: $dark;
}

h1 {
  display: none;
}