p
  | I've been playing with YSlow and 
  a(href='http://www.websiteoptimization.com') WebsiteOptimization.com
  |  and I was wondering what would be the smallest page I could get. Could I score 100% and still have a nice page?
p I started creating a Java servlet last night. This would just be an exercise. It would have no practical use.
