| Ctrl-Backspace - delete a whole word at a time Ctrl-Home/-End - go to the beginning/end of a page/document Ctrl-Alt-End - replaces Ctrl-Alt-Delete when you've remoted into another computer Alt-Tab - switch between applications What are yours?

