| I was getting several errors when running 
a(href='http://code.google.com/p/jsdoc-toolkit/') JsDoc Tookit
|  version 2.0.2:

code [jsdoctoolkit] js: "C:/libraries/jsdoc-toolkit/app/lib/JSDOC/\Symbol.js", line 72: uncaught JavaScript runtime exception: TypeError: Cannot find function __defineSetter__. [jsdoctoolkit] js: "C:/libraries/jsdoc-toolkit/app/lib/JSDOC/\Symbol.js", line 9: uncaught JavaScript runtime exception: TypeError: Cannot call method "apply" of undefined
| 
I was able to fix my problem by downloading the latest version of js.jar from 
a(href='http://www.mozilla.org/rhino/download.html') here
| . The version I downloaded was Rhino 1.7R1.

