
.page-grid
  #adamexcerpt
    p Adam is a tinkerer with hobbies of "making things". Sometimes those "things" are 3D printed models, but more often his "things"
      | are in digital form. He enjoys writing code the most, but has his hands in CAD, publishing, video editing, music and more.

  #main
    .row.center-row.gy-4
      app-landing-card-list.cards-container([cards]="cards")

  #moreresources
    h3 More Stuff
  app-minicard-list([links]="links")
//- #end.col.g-5