:host {
  display: contents;
}

:active {
  filter: invert(white, 50%)
}

$primary: #406275;
$secondary: #b89160;
$light: #dee3e6;
$white: #f5f7f8;
$dark: #43464a;
$success: #448261;
$info: #406275;
$warning: #b89060;
$danger: #b87460;

body {
  container-type: inline-size;
}


.page-flex {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .2fr .1fr .3fr;
}

.page-flex {
  flex: 1;
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .2fr .1fr .3fr;
}

.adamis {
  width: 50%;
  margin-right: 50em;
}

#adamexcerpt {
  max-width: 90vw;
  min-width: 70vw;
  margin: 0 auto;

  padding: 2rem 2rem 0;
  order: 2;

  p {
    text-align: center;
  }
}

#main {
  padding-top: 24px;
  width: 100%;
  order: 1;
}


@media screen and (max-width: 767px) {

  .page-header {
    svg {
      max-width: 90cqw;
      translate: 0 5%;
    }
  }

  .page-flex, .page-grid {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr .1fr .3fr;
  }
  

  #adamexcerpt {
    min-width: 100%;
    padding: 4em 5% 0;
    order: 1;
    color: $white;
    background-color: $primary;
  }

  #main {
    order: 2;
  }

  .cards-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

}


.cards-container {
  display: flex;
  gap: max(1vw, 1rem);

  flex-flow: row wrap;
  // margin: 0 auto;
  justify-content: center;
}


#moreresources {
  // width: 50%;
  margin: 1em 3em;
  text-align: center;
  // margin-bottom: 1em;
  min-width: 96%;
  order: 3;
}
@media screen and (max-width: 767px) {
  #moreresources {
    min-width: unset;
    // margin: 0;
  }
}