| I found a 
a(href='http://www.newmediacampaigns.com/page/konami-code-jquery-plugin-pointlessly-easy') jQuery plugin
|  to add the 
a(href='http://en.wikipedia.org/wiki/Konami_Code') Konami code
|  to your website, but I think 
a(href='https://www.adamkoch.com/konami.js') mine
|  is better. Mine works in IE8. Here's a 
a(href='https://www.adamkoch.com/konami.html') demo
| .

