| Since I don't want to register with the site just to post a comment, I'll leave it here. To follow up with the discussion, you need to set your Spring config like so:

code.
  
  <bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">     <property name="triggers">         <list>             <ref bean="XXXXXXXXXXXXXXXXXXXX" />             <ref bean="XXXXXXXXXXXXXXXXXXXX" />         </list>     </property>     <property name="autoStartup">         <value>${service.quartz.autostart}</value>     </property>     <property name="quartzProperties">         <props>             <prop key="org.quartz.scheduler.skipUpdateCheck">true</prop>         </props>     </property> </bean>
  
a(href='http://forums.terracotta.org/forums/posts/list/3395.page') Quartz 'phoning home' at start up
| .

