
p I found this interesting. To search for a dollar sign you need to escape it but then escape the backslash too. Honestly, I don't know nor care what's going on with this at the moment.
code.
  grep "\\$\\$" ast.json