| I love 
a(href='http://stackoverflow.com/questions/686216/what-code-would-you-have-on-your- wedding-cake') this kind
|  of stuff.

a(href='http://www.telparia.com/my_wedding_cake.jpg')
  img.alignnone(title='Wedding Cake' src='http://www.telparia.com/my_wedding_cake.jpg' alt width='528' height='351')
| Excerpts:

dl
  dt
    a(href='http://stackoverflow.com/questions/686216/what-code-would-you-have-on-your-wedding-cake/686342#686342') Wife
  dd
    | It's a subclass of girlfriend that has unlimited access to your private members but doesn't make good use of it, hogs all available resources, and spawns child processes that you aren't allowed to kill off. - 
    a(href='http://meta.stackoverflow.com/users/23921/pesto') Pesto
