| Does anyone agree with me that the print and save icons in Adobe Acrobat Reader are too similar? [caption id="attachment_1674" align="alignnone" width="70" caption="Too similar?"]
img.size-full.wp-image-1674(title='adobe_icons' src='http://www.adamkoch.com/wp-content/uploads/2009/10/adobe_icons.gif' alt='Too similar?' width='70' height='33')
| [/caption]

