.mono {
  font-family: monospace;
  text-decoration: underline;
}
.mono {
  font-family: monospace;
  text-decoration: none;
  -webkit-highlight: yellow;
  background-color: #eee;
  border: solid #ddd 1px;
  padding: .2em;
}