@import '../colors.scss';

nav {
  padding-left: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  // align-items: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  // font-size: min(2vw, 1.3rem);

  .menu-items {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  >* {
    justify-content: flex-end;
  }

  >*:last-child {
    flex-grow: 4;
    // align-self: flex-end;
    // position: relative;

    // > div {
    //   position: absolute;
    //   right: 0;
    // }
  }

  >*:first-child {
    min-width: 12rem;
    margin-right: 1em;
  }

  // grid-auto-flow: column;
  // grid-template-columns: 3fr repeat(5, 1fr) 5fr;
  a:not(:has(svg)) {
    padding-bottom: 1em;
    // display: block;
    // text-decoration: none;
    color: darken($white, 25);
    // padding: .1em .5em;
    // margin-bottom: 0;
    // border: solid darken($white, 25) 2px;
    // border-bottom: 0;
    // border-radius: .5em .5em 0 0;
    // transition: transform 1s 0s;
    // transform: rotateY(0turn);
    // // min-width: min-content;
    // justify-content: center;

    &.active {
      color: $white;
      //   border-color: $white;
      //   padding: .1em .5em .3em;
      //   transition: all .5s;
    }

    &:hover {
      color: $white;
      //   border-color: $white;
      //   padding: .1em .5em .3em;
      //   transition: transform 1s .5s;
      //   transform: rotateY(1turn);
    }
  }

  .gsc-control-cse {
    // width: min(30vw, 100%);
    min-width: 300px;
    max-width: 600px;
  }

  .menu {
    display: none;
    padding: 0 2em;
    margin: 0 0 0 auto;
  }
}

// .page-header nav .navbar-nav {
//   .gsc-control-cse {
//     border: 0;
//     padding: 0;
//   }

//   form.gsc-search-box {
//     margin-bottom: 0;
//   }
// }

@media screen and (max-width: 773px) {

  nav {
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: 1fr 2fr .5fr;
    padding-left: 0px;

    > *:not(:has(form)) {
      margin-left: 20px;
    }

    .one {
      align-items: flex-end;
      align-content: flex-end;
      display: flex;
      margin-bottom: 20px;
      // clip-path: circle();
    }

    .menu-items {
      display: none;
      // height: 0;
      // transition: all 1s;
      // > * {

      //   height: 0;
      //   transition: all 1s;
      // }
      &.active {
        display: block;
        // height: 200px;
        // transition: all 1s;
        // > * {
  
        //   height: 20px;
        //   transition: all 1s;
        // }
      }
       > * {
        display: block;
        width: 100%;
      }
    }

    .menu {
      display: block;
    }
  }

  //   >*:last-child {
  //     > div {
  //       position: absolute;
  //       right: 0;
  //     }
  //   }
}


// nav {
//   background-color: $primary;
// }

// nav, #landing-header {
//   svg {
//     fill: $white;
//     stroke: $dark;
//   }
// }

// .navbar-nav {
//   margin-top: auto;
// }

// @media screen and (min-width: 1048px) {

//   nav {
//     padding-left: 40px;
//   }

//   .navbar-nav {
//     margin-left: 40px;
//   }
//   .navbar-nav {
//   }
// }

// @media screen and (min-width: 942px) and (max-width: 1048px) {
//   .navbar-nav {
//   }
// }

// .nav-link {
//   margin-right: 1em;
//   &::before {
//   }
// }

// .center-row, .divider {
//   background: linear-gradient(0deg, $white 50%, $primary 50%);
// }

// .divider {
//   height: 20px;
//   margin-bottom: 20px;
// }

// #footer {
//   color: $dark;
//   text-align: center;
//   margin: 3rem 0 2em;
//   span {
//     margin: 0 10px;
//   }
// }