//- nav.navbar.navbar-expand-md.navbar-dark
//-   div.navbar-brand 
//-     a(routerLink="/")
//-       app-header-svg
      
//-   button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
//-     span.navbar-toggler-icon
//-   .navbar-collapse.navbar-nav.me-auto.mb-2.mb-lg-0.collapse#navbarSupportedContent
//-     .nav-item
//-       a(routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Articles
//-     .nav-item
//-       a(routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Current Projects
//-     .nav-item
//-       a(routerLink="/past_projects" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Past Projects
//-     .nav-item
//-       a(routerLink="/tech" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Tech
//-     .nav-item
//-       a(routerLink="/design" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Design
//-     .nav-item
//-       .gcse-search

nav
  .one
    a(routerLink="/")
      app-header-svg
    
    .menu("(click)"="onclick()")
      svg(viewBox="0 0 100 80" width="40" height="40")
        rect(width="100" height="18")
        rect(y="30" width="100" height="18")
        rect(y="60" width="100" height="18")

  .menu-items(ngClass="{{active ? 'active' : ''}}")
    a(routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page") Articles
    a(routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page") Current Projects
    a(routerLink="/past_projects" routerLinkActive="active" ariaCurrentWhenActive="page") Past Projects
    a(routerLink="/tech" routerLinkActive="active" ariaCurrentWhenActive="page") Tech
    a(routerLink="/design" routerLinkActive="active" ariaCurrentWhenActive="page") Design

  .gcse-search
