nav.navbar.navbar-expand-md.navbar-dark
  div.navbar-brand 
    a(href="/")
      app-header-svg
      
  button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .navbar-collapse.navbar-nav.me-auto.mb-2.mb-lg-0.collapse#navbarSupportedContent
    .nav-item
      a(routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Articles
    .nav-item
      a(routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Current Projects
    .nav-item
      a(routerLink="/past_projects" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Past Projects
    .nav-item
      a(routerLink="/tech" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Tech
    .nav-item
      a(routerLink="/design" routerLinkActive="active" ariaCurrentWhenActive="page").nav-link Design
    .nav-item
      .gcse-search
    
  
