// @import "../../node_modules/bootstrap/scss/functions";
// @import "./shared/colors.scss";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/_alert.scss";
// @import "../../node_modules/bootstrap/scss/_buttons.scss";
// @import "../../node_modules/bootstrap/scss/_forms.scss";

:host {
  display: grid;
}

@import "../../node_modules/bootstrap/scss/functions";
@import "./shared/colors.scss";

// $primary: #406275;
// $secondary: #b89160;
// $light: #dee3e6;
// $white: tint-color($light, 70%);
// $dark: #43464a;
// $success: #448261;
// $info: #406275;
// $warning: #b89060;
// $danger: #b87460;

$navbar-padding-x: 2rem;

$font-family-base: sans-serif;
$link-color: $primary;
$body-bg: $white;


@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/_variables-dark.scss";
@import "../../node_modules/bootstrap/scss/_maps.scss";
@import "../../node_modules/bootstrap/scss/_containers.scss";
@import "../../node_modules/bootstrap/scss/_grid.scss";


.fonts-loaded body {
  font-family: Georama, sans-serif;
}

@font-face {
  font-family: 'Georama';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/georama/v1/MCo5zAn438bIEyxFf6swMnNpvPcUwW4u4yRcDh-ZjxApn9K5GvgdngEMxf5wbxXT.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


#header {
  background-color: $primary;
  height: 100px;
}

.page-header nav .navbar-nav {
  .gsc-control-cse {
    border: 0;
    padding: 0;
  }

  form.gsc-search-box {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .page-header nav .navbar-nav {
    .gsc-control-cse {
      display: none;
    }
  }
}

nav {
  background-color: $primary;
}

nav,
#landing-header {
  svg {
    fill: $white;
    stroke: $dark;
    // max-width: 98vw;
  }
}

.navbar-nav {
  margin-top: auto;
}

@media screen and (min-width: 1048px) {

  nav {
    padding-left: 40px;
  }

  .navbar-nav {
    margin-left: 40px;
  }

  .navbar-nav {}
}

@media screen and (min-width: 942px) and (max-width: 1048px) {
  .navbar-nav {}
}

.nav-link {
  margin-right: 1em;

  &::before {}
}

.center-row {
  background: linear-gradient(0deg, $white 50%, $primary 50%);
}

// pug
.divider {
  height: 20px;
  margin-bottom: 20px;
}

#footer {
  color: $dark;
  text-align: center;
  //margin: 3rem 0 2em;

  span {
    margin: 0 4px;
  }
}

.not-mono {
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
}

.post {
  .posted {
    &::before {
      content: 'Posted on:';
      margin-right: .3em;
    }
  }

  .content {
    margin-top: 20px;
  }
}

.aside {
  i {

    margin: 0 10px;
    color: #406275;
    font-weight: 900;
  }

  margin: 20px 0;
  border: 2px solid #406275;
  padding: 10px;
  border-left: 0;
  width: fit-content;

}

ol {
  padding-left: 0;
}

li {
  margin-left: 2em;
}

.underline {
  text-decoration: underline;
}

hr {
  margin: 1em auto;
}

#more-posts {
  text-align: center;
  font-size: large;
  transform: rotateZ(-15deg);
  transition: transform .5s ease;
  // transition: opacity 1s ease;
}

#more-posts:hover {
  transform: rotateZ(15deg) scale(1.5);
  // transition: .5 infinite;
  // opacity: 0;
  // transition: rotation 1s ease;
}

.gap {
  height: 2em;
}


.post, .post img {
  max-width: min(1500px, 100vw);
}

img {
  height: auto;
}

.page-header nav .navbar-nav {
  .gsc-control-cse {
    border: 0;
    padding: 0;
  }

  form.gsc-search-box {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .page-header nav {
    &:has(div.active) {
      .gsc-control-cse {
        display: block;
      }
    }
    .gsc-control-cse {
      display: none;
    }
    #gsc-iw-id1 {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}
