| I was hoping for

code def sayHello(name) {   println("Hello, " + name) } ("world", "Adam").foreach(sayHello)
| 
but will have to settle for

code def sayHello(name: String) {   println("Hello, " + name) } List("world", "Adam").foreach(sayHello _)
