| Wow. This is messed up. Here is a table of the browsers I have at my disposal and the returned value from the JavaScript variable "navigator.appVersion".

table
  tbody
    tr
      th Browser
      th navigator.appVersion
    tr
      td Chrome 5.0
      td 5.0
    tr
      td Opera 10.00
      td 9.80
    tr
      td IE 8.0
      td 4.0
    tr
      td IE 7.0
      td 4.0
    tr
      td IE 6.0
      td 4.0
    tr
      td Safari 4.0
      td 5.0
    tr
      td Safari 3.2
      td 5.0
    tr
      td Firefox 3.6
      td 5.0
    tr
      td Firefox 3.5
      td 5.0
    tr
      td Firefox 2.0
      td 5.0
| 
Ok browser makers. Let's start over. I don't think any site is using the navigator.appVersion anymore so now is as good of time as ever to start fresh. What do you say?

