| I painstakingly changed the source to WordPress to get rid of the fancy quotes last week. Today I upgraded my version of WordPress and completely forgot about that change. So now those pesky "fancy" quotes are back! Ugh. Time to look for a plugin... and I might have found 
a(href='http://www.semiologic.com/software/wp-tweaks/unfancy-quote/') one
| . Or I might try 
a(href='http://peterc.org/2008/71-how-to-disable-smart-curly-quotes-on-wordpress-25.html') this
| . Update: 
a(href='http://peterc.org/2008/71-how-to-disable-smart-curly-quotes-on-wordpress-25.html') the one
|  that adds lines to the theme is the one I'm using.

