@import '../../shared/colors.scss';


.projects {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  align-content: stretch;
}

.project {

  max-width: 700px;

  &:hover {
    .project-title {
    transition: .2s ease-in-out all;
    border-radius: 1em 3em 0 1em;
    transform: translateX(-5px);
    }
    .project-body {
      transition: .2s ease-in-out all;
      border-radius: 0 1em 1em 1em;
    }
  }

  flex-basis: 49%;

  .project-title {
    background-color: $primary;
    color: $white;
    padding: 1em .5em .5em 1em;
    border: solid $primary 2px;
    border-radius: 1em 1em 0 0;
    transition: .2s ease-in-out all;
  }

  .project-body {
    display: flex;
    flex-flow: row wrap;
    gap: .5em;
    padding: 1em;
    border: solid $primary 2px;
    border-top: 0;
    border-radius: 0 0 1em 1em;
    transition: .2s ease-in-out all;

  }

  .status-wrapper {
    .status {
      font-family: monospace;
      padding-left: .5em;
    }
  }

  .project-description {
    flex: 3 1 100%;
  }

  .statuses {
    flex: 1 0 min-content;
    text-align: right;
  }

  ul {
    padding-left: 0;
    margin-left: 0;
  }

  img {
    max-width: 100%;
  }
}


.not-a-container {
  padding: 0 1em 1em 1em;
}

@media screen and (max-width: 773px) {

  .project {
    flex-basis: 90vw;
  }
}

@media screen and (max-width: 1000px) {

  .project {
    flex-basis: 100%;
  }
}
