// @import url('../../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');


@import "./functions";
@import "../../shared/colors.scss";

@import "./variables";
@import "./mixins";
@import "./_variables-dark.scss";
@import "./_maps.scss";
// @import "./_alert.scss";
@import "./_button-group.scss";
@import "./_buttons.scss";
@import "./_card.scss";
@import "./_containers.scss";
// @import "./_forms.scss";
// @import "./_grid.scss";
@import "./_reboot.scss";
@import "./_root.scss";

// @import "./_grid.scss";

$primary: #406275;
div.date {
  margin-bottom: 10px;
}
a {
  cursor: pointer;
}
code {
  white-space: pre;
}
.linkies {
  display: contents;
    &:hover {
    .fas {
      animation: moveright .5s infinite;
    }
  }
}

@keyframes moveright {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(10px);
  }
}