app-pageheader
- var title = 'Past Projects'
mixin project(title, status, type)
  .project
    .project-wrapper
      .project-title
        h2= title
      .project-body
        .project-description
          if block
            block
          else
            p No description yet
        .statuses
          .status-wrapper Type:
            span.status #{type}
          .status-wrapper Status:
            span.status #{status}

script(type="application/ld+json").
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Projects"
    }]
  }

.not-a-container
  h1 #{title}

  p Currently a hodgepodge of 3D printed and software projects. 

  .projects  
    +project('Headphones Holder', 'Completed ', ['print'])
      p I designed and printed a thing that would clip to my desk at work and have a hook to hold my headphones. I wanted to keep the cord 
        | from getting tangled up, so I created a groove that would allow for swapping of different other pieces so I could prototype different ideas.
      img(ngSrc="assets/headphone_table_holder.png"  width="300" height="220" priority)
      p I used my "wood" filament which allowed me to lightly sand it in the end and I think it turned out well.

    +project('MacBook Pro Laptop Stand', 'Completed ', ['print'])
      img(ngSrc="assets/laptop_stand_preview.png"  width="300" height="198")
      div
        a(href="https://www.thingiverse.com/thing:4673645") Thingiverse 
          i.fas.fa-external-link-alt

    +project('Pick Holder/s', 'Needing Documentation ', ['print'])
      p 3D printed desk holder for my lockpicks. 

    +project('Desk Phone Stand', 'Needing Documentation ', ['print'])
      p 3D printed desk stand for my phone.

    +project('Battery Holder', 'Needing Documentation ', ['print'])
      p 3D printed 3 AA battery holder. 
      p: a(href="https://www.thingiverse.com/thing:4578862") Thingiverse
        i.fas.fa-external-link-alt
      a(href="https://www.thingiverse.com/thing:4578862")
        img(ngSrc="assets/AA_battery_holder.jpeg" crossOrigin="anonymous" width="300" height="173" ngSrcset="1x, 2x")
    +project('Fan Dampener', 'Needing Documentation ', ['print'])
      p Dampen the vibrations of my desk fan with this printed device.

    +project('Toothpaste Tube Squeezer', 'Needing Documentation ', ['print'])
      p My attempt at creating a toothpaste tube squeezer.

    +project('Laptop Jack', 'Needing Documentation ', ['print'])
      div
        a(href="https://www.thingiverse.com/thing:4673975") Thingiverse 
          i.fas.fa-external-link-alt

    +project('Retractable comb pick handle', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:4598876")
        img(ngSrc="assets/IMG_7004.jpg" crossOrigin="anonymous" width="300" height="88")

    +project('Pegboard Hooks / Accessories', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:4584201") Thingiverse 
        i.fas.fa-external-link-alt

    +project('Turkish Spindle', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3840477")
        img(ngSrc="assets/turkish_spindle.jpg" width="300" height="235" loading="lazy")

    +project('Moddable Two (2) Case', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3816062") Thingiverse 
        i.fas.fa-external-link-alt

    +project('Foldable/Retractable Name Plaque/Plate', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3635785") Thingiverse 
        i.fas.fa-external-link-alt

    +project('FlashForge Finder Filament Spool Holder', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3617401") Thingiverse 
        i.fas.fa-external-link-alt

    +project('Chair piece', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3608559") 
        img(ngSrc="assets/chair_piece_rendering.png"  width="300" height="139")
        img(ngSrc="assets/chair_piece_installed.jpg"  width="300" height="400")

    +project('Pop can bag holder', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3578675") 
        img(ngSrc="assets/pop_can_holder.jpg"  width="300" height="400" ngSrcset="1x, 2x" loading="lazy")

    +project('Qwirkle Tile Holder', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3539352")
        img(ngSrc="assets/IMG_7050.jpg"  width="300" height="225" loading="lazy")

    +project('Monitor clasp and pencil/pen cup', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3530821")
        img(ngSrc="assets/monitor_arm_5_v22.jpg"  width="600" height="277" ngSrcset="1x, 2x" loading="lazy")

    +project('Clutch Bearing', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3530801") Thingiverse 
        i.fas.fa-external-link-alt

    +project('iPhone audio and power cord clamp', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3474643")
        img(ngSrc="assets/car_phone_plug_iphone_outside.png"  width="300" height="205" loading="lazy")
        img(ngSrc="assets/car_phone_plug_iphone_v31.png"  width="300" height="211" loading="lazy")

    +project('Square Gear with different holder', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3462458")
        img(ngSrc="https://cdn.thingiverse.com/renders/cd/a4/ea/c1/f7/0f0f2d5d3026fb3f54ea8ece8541bbc3_preview_featured.JPG" crossorigin  width="300" height="225" loading="lazy")

    +project('Mobius Ball', 'Needing Documentation ', ['print'])
      a(href="https://www.thingiverse.com/thing:3460579")
        img(ngSrc="assets/mobius_ball_v7.png"  width="300" height="191")

    +project('Impossible Box', 'Needing Documentation ', ['print'])

    +project('Clothesline Animation', 'Needing Documentation ', ['software'])
      a(href="https://aakoch.github.io/clothesline.html") CSS animation

    +project('Punch Dad', 'Archived ', ['software'])
      p My first iPhone app
      a(href="https://github.com/aakoch/PunchDad") Archive

    +project('iptables', 'Abandoned', ['software'])
      p App to create iptable entries for managing my kids' internet time.
      a(href="https://github.com/aakoch/iptables") GitHub source

    +project('robocar', 'Needing Documentation ', ['software', 'hardware'])

    +project('slab', 'Needing Documentation ', ['software'])

    +project('in-a-meeting', 'Needing Documentation ', ['software', 'hardware'])

    +project('jinx-rules', 'Needing Documentation ', ['misc'])
      p Who doesn't need the "official" 
        a(href="https://aakoch.github.io/jinx-rules/") rules of jinx
        | ?

    +project('scoutbook-buddy', 'Needing Documentation ', ['software', 'scouts'])

    +project('dengroups', 'Needing Documentation ', ['software', 'scouts'])

    +project('zuid', 'Needing Documentation ', ['software'])

    +project('pet-peeves', 'Needing Documentation ', ['software'])

    +project('jQuery-Konami-Plugin', 'Needing Documentation ', ['software'])
app-footer