| I didn't know this! "The 
code null
|  value ... can only be assigned by your code." From 
a(href='http://www.packtpub.com/object-oriented-javascript-applications-libraries/book') Object-Oriented JavaScript by Stoyan Stefanov
