| Thinking outside the box, there are more ways to indicate the thousands separator… 10
span(style='color: #808080;') 0
span(style='color: #999999;') 0
| 0
span(style='color: #808080;') 0
span(style='color: #999999;').
  0
  
| 1
u 0
| 00
u 0
| 00 10
sup 00
| 0
sup.
  00
  
| 10
span(style='font-size:.9em') 0
span(style='font-size:.8em') 0
| 0
span(style='font-size:.9em') 0
span(style='font-size:.8em') 0
| Not that it is currently possible to style it as such in an input element. Unless you use ‘o’s for the zeros. That could be done: 10oo0oo Those take up less space than adding a comma: 1,000,000 In monospace:

p(style='font-family:monospace')
  | 1,000,000 10
  span(style='color: #808080;') 0
  span(style='color: #999999;') 0
  | 0
  span(style='color: #808080;') 0
  span(style='color: #999999;').
    0
    
  | 1
  u 0
  | 00
  u 0
  | 00 10
  sup 00
  | 0
  sup.
    00
    
  | 10
  span(style='font-size:.9em') 0
  span(style='font-size:.8em') 0
  | 0
  span(style='font-size:.9em') 0
  span(style='font-size:.8em') 0
