:host {
  background-color: black;
  height: 100vh;
  display: block;
  color: white;
}

.hypnotize {
  transform-origin: center;
  position: relative;
  z-index: -1;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.word {
  display: block;
  transform-origin: center;
}

.large-text {
  z-index: 1;
  font-size: 3rem;
  color: white;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
}

.letter {
  transform-origin: center;
}