<div class="filenotfound center">
  <div class="large-text center" [@glitchState]="glitchState">404 Not Found</div>
  <img class="hypnotize" src="assets/spiral2.jpg"  [@rotateState]="rotateState" />
</div>