app-pageheader
div
  .container
    h1 Articles

    app-post-list
    
    h2.mt-4 My first post on the new site! (Finally!) 🎉

    app-postpreview(key="20210908" postTitle="Moving off Wordpress and on to Netlify" excerpt="I'm just so excited, I don't know how to start!..." date="2021-09-08T2005-05:00" link="/posts/2021/09/08" name="Moving off Wordpress and on to Netlify")

    div Ignore that line about last posting in 2017. 
      h4.arrow ⤵
    hr

    app-oldposts("[posts]"="posts" "[allPosts]"="allPosts")