app-pageheader
div
  .container
    h1 Articles

    app-postpreview(key="20230416" postTitle="Server Sent Events" name="Server Sent Events" excerpt="Server-Sent Events is a technology that allows data to be \"pushed\"...")
    app-postpreview(key="20230330" postTitle="Motion Canvas Fun" name="Motion Canvas Fun" excerpt="Fun animation tool")
    app-postpreview(key="20230207" postTitle="How to submit a template form with Angular on Netlify using RxJS Observables" name="How to submit a template form with Angular on Netlify using RxJS Observables" excerpt="How to observables with a template form on Netlify with Angular")
    app-postpreview(key="20221218" postTitle="Box animations" name="Box animations" excerpt="3D box animations")
    app-postpreview(key="20220627" postTitle="Roe v Wade" name="Roe v Wade" excerpt="So sad...")
    app-postpreview(key="20220619" postTitle="Engineering Process" name="Engineering Process" excerpt="Who knew there were so many steps in the engineering process...")
    app-postpreview(key="20220430" postTitle="Lucid Gloves" name="Lucid Gloves" excerpt="It happens all the time. I get distracted by some new project and never finish the project I was working on...")
    app-postpreview(key="20211222" postTitle="GitHub Username" name="GitHub Username" excerpt="I was looking to publish a small NPM package but...")
    app-postpreview(key="20211022" postTitle="Spring Cloud Contracts" name="Spring Cloud Contracts" excerpt="My current employment uses Spring Cloud Contracts to write contracts between microservices. And while they are a good step to guarantee things work between apps, the way it is used today makes it very easy to pass bad data....")
    app-postpreview(key="20211014" postTitle="Recruiter Tips" name="Recruiter Tips" excerpt="When a recruiter messaged me on...")
    app-postpreview(key="20210917" postTitle="My Stack" name="My Stack" excerpt="Getting off Wordpress offered me a lot of \"opportunities\" to learn some new tech...")
    
    app-postpreview(key="20210908" postTitle="Moving off Wordpress and on to Netlify" excerpt="I'm just so excited, I don't know how to start!..." name="Moving off Wordpress and on to Netlify")

    .container.old-posts
      h3 These are old posts that I am trying to keep. They were originally on a WordPress site so the didn't convert over to this site very well.
      .row("*ngFor"="let post of posts")
        app-oldpost([post]="this.post")

app-footer
