- var title = 'Design'
mixin project(title)
  .project
    .project-wrapper
      h3= title
      .project-body
        if block
          block
        else
          p No description yet

block variables
doctype html
html.no-js(lang="en")

  head
    include ../templates/head
    style.
      img.md {
        width: 100%;
        max-width: 300px;
      }
      img.lg {
        width: 100%;
        max-width: 400px;
      }
      div:has(caption) {
        text-align: center;
      }
      a.a-words {
        display: block;
        float: left;
        text-align: right;
      }
      .project-wrapper {
        display: inline-grid;
      }
  body
    include ../templates/pageheader

    .container
      h1 #{title}

      h2 Designs of Mine

      //- #designs-app

      +project('Images', 'On going')
        h4 
          | As featured on 
          a(href="https://pixabay.com/users/aakoch-4434016/") Pixabay
        a(href="https://pixabay.com/users/aakoch-4434016/")
          img(src="../img/Canadian_Maple_Leaf.png")
          img(src="../img/oak_leaf.png")
          img(src="../img/oak_leaf2.png")
          img(src="../img/ornament.png")
          img(src="../img/snowman.png")

      +project('A-words', 'Completed')
        p Currently hosted on 
          a(href="https://www.troop308omaha.com/news/a-words/") Troop 308's Website
        
        div.1-words
          a.a-words.float-md-start(href="https://www.troop308omaha.com/wp-content/uploads/2018/10/a-words-2018-08-08.pdf")
            figure
              img.lg(src="../img/A_words_20181008.png" srcset="../img/A_words_20181008.png 1x, ../img/A_words_20181008.2x.png 2x")
              figcaption(style="padding-right:1px") October 8, 2018 -
          a.b-words.float-md-start(href="https://www.troop308omaha.com/wp-content/uploads/2020/02/a-words-2020-02-17.pdf")
            figure
              img.lg(src="../img/A_words_20200217.png" srcset="../img/A_words_20200217.png 1x, ../img/A_words_20200217.2x.png 2x")
              figcaption(style="padding-left:1px") February 17, 2020

      +project('Team Elijah', 'Completed')
        img.lg(src="../img/design3_80.png" srcset="../img/design3_80.png 1x, ../img/design3_80.2x.png 2x")

      +project('Moral Quote', 'Completed')
        img.lg(src="../img/quote.png")

      +project('Sonshine Preschool', 'Completed')
        p Just a proof of concept turned sticker for my wife's prior place of employment
        img.md(src="../img/sonshine.png")

      +project('Troop 308 Website', 'Completed')
        a(href="https://www.troop308omaha.com/") Website

      +project('Troop 308 T-Shirt Design', 'Completed')
        img.md(src="../img/survival-tshirt.svg")

      h2.mt-5  Animations
      ul
        li: a(href="../animations/bark.pug") Bark
        li: a(href="../animations/wind.pug") Wind
        li: a(href="../animations/fadeOutOnMouseOver.pug") Fade out on mouseoever
        li: a(href="../animations/infectSiblings.pug") Fade out siblings
        if process.env.NODE_ENV != 'production'
          li: a(href="../animations/infectNeighbors.pug") Fade out neighbors
        if process.env.NODE_ENV != 'production'
          li: a(href="../animations/sensitive.pug") Sensitive

    include ../templates/footer

    block body_scripts

    //- script(src="../js/designs.js" type="module")