- var title = 'Software Developer and Clean Code Advocate'
block variables
doctype html
html.no-js(lang="en")

  head
    include head
  body
    include header
    
    #posts-app

    include footer

    block body_scripts

    script(src="../js/posts.js" type="module")