- var title = 'Software Developer and Clean Code Advocate'
block variables
doctype html
html.no-js(lang="en")

  head
    include head
    link(rel="" href="dummyForm.html")
  body
    #landing-header
      include img/header_name.svg
    
    #landing-app

    include footer

    block body_scripts

    script(src="js/landing.js" type="module")