- var title = 'Swamp Fan'
block variables
doctype html
html.no-js(lang="en")

  head
    include ../../templates/head
    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
          "@type": "ListItem",
          "position": 1,
          "name": "Projects",
          "item": "../"
        },{
          "@type": "ListItem",
          "position": 2,
          "name": "Swamp Fan"
        }]
      }
  body
    include ../../templates/pageheader

    .container
      a.text-end(style='display:block' href="/projects" title="Projects")
        i.fas.fa-angle-double-left
        |  Back to current projects
      h1 #{title}
      
      p Sorry, I haven't gotten around to writing this up yet. But here are some 
        strike pretty
        |  pictures!

      #app

        img(src='/src/img/swamp_fan_1_0.1.jpg' alt="Swamp fan")
        img(src='/src/img/swamp_fan_1_0.2.jpg' alt="Swamp fan")
        img(src='/src/img/swamp_fan_1_0.3.jpg' alt="Swamp fan")

    include ../../templates/footer

    block body_scripts