- var title = 'Swamp Fan'
block variables
doctype html
html.no-js(lang="en")

  head
    include ../../templates/head
  body
    include ../../templates/pageheader

    .container
      h1 #{title}
      
      p Sorry, I haven't gotten around to writing this up yet.

    include ../../templates/footer

    block body_scripts