a(href='http://www.joelonsoftware.com/AboutMe.html') Joel Spolsky
| 's 
a(title='Read Joel\'s Blog Post' href='http://www.joelonsoftware.com/items/2009/09/23.html') latest blog post
|  is entitled "The Duct Tape Programmer" and is getting a lot of attention 
a(title='Or go to http://twitturls.com/' href='http://twitter.com') out there
| . 
a(href='http://twitter.com/unclebobmartin') Uncle Bob
|  
a(href='http://blog.objectmentor.com/articles/2009/09/24/the-duct-tape-programmer') says
|  he agrees with most of it, if you ignore the details. (Really!?) My take is that the Duct Tape Programmer is the type to "git-er-done". And for small apps that don't have a future, that's fine. But if you are to build an app that can easily have features added, then this is 
strong not
|  the way to go. The Duct Tape Programmer mentioned in the article is Jamie Zawinski. He used (?) to work for Netscape. And says "It was decisions like not using C++ and not using threads that made us ship the product on time." Yea, but what eventually happened to Netscape? Sure, Netscape got it's browser out the door, but now where are they? Even the example given about a go-cart seems to strengthen my point: sure, the duct taped go-cart will be shipped faster, but how many times can it race? It just seems to emphasize my point that duct tape programming is fine for small apps with no future.

