- var title = 'Code Samples'
script(type="application/ld+json").
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Tech",
      "item": "../"
    },{
      "@type": "ListItem",
      "position": 2,
      "name": "Code Samples"
    }]
  }

//- style(type="text/scss").

//- app-pageheader

.container
  h1 #{title}
  
  ul
    li 
      a(routerLink="shell") zsh/shell
    li 
      a(routerLink="jq") jq

  p Some more samples are on 
    a(routerLink="../projects") the Current Projects page
    |  under the animations section. 

  p: a(routerLink="..") &larr; Back to Tech

//- include ../../templates/footer

    block body_scripts
    
app-footer