
@import "functions";
@import "../colors.scss";
@import "variables";
@import "mixins";
@import "_alert.scss";
@import "_maps.scss";
@import "_buttons.scss";
// @import "_card.scss";
@import "_containers.scss";
@import "_forms.scss";
@import "_grid.scss";
@import "_utilities.scss";
@import "utilities/_api.scss";

h1 {
  z-index: 9;
}
:host {
  display: block;
  margin-top: 3vh;
}

.ng-valid[required], .ng-valid.required,
.ng-dirty.ng-valid:not(required):not(form)  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-pristine  {
  border-left: 5px solid #406275; /* red */
}

.ng-invalid.ng-touched:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.comment-form-container {
  font-size: .8em;
  max-width: 80vh;
}