- var title = 'Current Projects'
mixin project(title, status)
  .project
    .project-wrapper
      h2= title
      .project-body
        if block
          block
        else
          p No description yet
        .status-wrapper Status: 
          span.status #{status}

block variables
doctype html
html.no-js(lang="en")

  head
    include ../templates/head
  body
    include ../templates/pageheader

    .container
      h1 #{title}
      
      +project('Swamp Fan', 'Stage One Complete; Stage Two In Progress')
        p It started when my wife bought me a tabletop, USB-powered "air conditioner". 
        if process.env.NODE_ENV != 'production'
          p: a(href="/projects/swampfan/") Read more
      
      +project('This Site', 'In Progress')

      +project('SLAB', 'Let\'s not talk about it')

    include ../templates/footer

    block body_scripts