- var title = 'Current Projects'
mixin project(title, status)
  .project
    .project-wrapper
      h2= title
      .project-body
        if block
          block
        else
          p No description yet
        .status-wrapper Status: 
          span.status #{status}

block variables
doctype html
html.no-js(lang="en")

  head
    include ../templates/head
  body
    include ../templates/pageheader

    .container
      h1 #{title}

      +project('Animations', 'Ongoing')
        p Just some fun I've been having with CSS animations. If something doesn't work for you, 
          a(href="/contact/") I'd love to know
          | .
        ul
          li: a(href="../animations/bark.pug") Bark
          li: a(href="../animations/wind.pug") Wind
          li: a(href="../animations/fadeOutOnMouseOver.pug") Fade out on mouseoever
          li: a(href="../animations/infectSiblings.pug") Fade out siblings
          if process.env.NODE_ENV != 'production'
            li: a(href="../animations/infectNeighbors.pug") Fade out neighbors
          li: a(href="../animations/sensitive.pug") Sensitive

      +project('Swamp Fan', 'Stage One Complete; Stage Two In Progress')
        p It started when my wife bought me a tabletop, USB-powered "air conditioner". 
        p: a(href="/projects/swampfan/" title="Project: Swamp Fan") Read more
      
      +project('This Site', 'In Progress')
        h3 1.0.0 Released
        .releaseDate.mb-3 2021-08-31
        p I felt obligated to release 1.0.0 of the site when I read on 
          a(href='https://semver.org/spec/v1.0.0.html' title='Semantic Versioning') semver.org
          |  that if you are in production, you should be at least 1.0. So, I pushed 1.0.0 today. And of course, writing this probably makes me have to bump this up a version. I won't if it's just a new post, but I really don't have posts up yet. So here's to 1.0.1! 🍾

      +project('SLAB', 'Let\'s not talk about it')

    include ../templates/footer

    block body_scripts