| I used to be all bleeding edge when in came to software, but that's changed. I guess I'm just getting old. I don't Windows Vista. XP works great for me. I won't upgrade to the next major release of WordPress. There's always a security fix a week or so later. But there are some apps that I "trust" enough to go with the latest. Like WinSCP, 7-zip.

