| So I finally got up the courage and reformatted my hard drive so I could install... (drum roll) Windows 7! It's pretty, but, is it functional? Here are my initial thoughts about the newest Microsoft operating system. Windows 7, why do you make me click on "Switch User"? When I'm not the last one logged in, I have to click "Switch User" and then click my name. With XP, there was just one page with all of the accounts listed. You've added an extra step in there. (The rest of the article never got written.)

